.article {
	display: grid;
	grid-template-columns: 1fr 500px;
	gap: 32px;
	background-color: #fff;
	border-radius: 20px;
}

.article + .article {
	margin-top: 32px;
}

.article-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 16px 32px;
	margin-top: 27px;
	margin-bottom: 40px;
}

.article-header > * {
	margin: 0;
}

.article-content {
	display: grid;
	align-content: start;
	gap: 24px;
	padding: 32px 0 32px 32px;
}

.article-title,
.article-picture {
	position: relative;
}

.article-link {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.article-elements {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px 24px;
}

.article-title h3,
.article-decription p {
	margin: 0;
}

.article-date::before,
.article-timereading::before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 6px;
	background-size: contain;
	position: relative;
	top: 1px;
}

.article-date::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13" > <path style="fill:%23282828;" d="M12.4,1.5c-0.4-0.4-0.9-0.6-1.4-0.6h-0.6V0.7c0-0.2-0.1-0.4-0.3-0.6C9.9,0,9.6,0,9.4,0.1 C9.2,0.2,9.1,0.4,9.1,0.7v0.3l-5.2,0V0.7c0-0.2-0.1-0.4-0.3-0.6C3.4,0,3.1,0,2.9,0.1C2.7,0.2,2.6,0.4,2.6,0.7v0.3L2,0.9 c-0.5,0-1,0.2-1.4,0.6C0.2,1.8,0,2.3,0,2.9V11c0,0.5,0.2,1,0.6,1.4C0.9,12.8,1.4,13,2,13H11c0.5,0,1-0.2,1.4-0.6 c0.4-0.4,0.6-0.9,0.6-1.4V2.9C13,2.3,12.8,1.8,12.4,1.5z M11.7,11c0,0.2-0.1,0.3-0.2,0.5c-0.1,0.1-0.3,0.2-0.5,0.2h0H2 c-0.2,0-0.3-0.1-0.5-0.2c-0.1-0.1-0.2-0.3-0.2-0.5V4.9h10.4V11z M11.7,3.6H1.3V2.9c0-0.2,0.1-0.3,0.2-0.5C1.6,2.3,1.8,2.2,2,2.2h0.6 v0.4c0,0.2,0.1,0.4,0.3,0.6s0.4,0.1,0.6,0C3.8,3,3.9,2.8,3.9,2.6V2.2h5.2v0.4c0,0.2,0.1,0.4,0.3,0.6s0.4,0.1,0.7,0 c0.2-0.1,0.3-0.3,0.3-0.6V2.2h0.6c0.2,0,0.3,0.1,0.5,0.2c0.1,0.1,0.2,0.3,0.2,0.5V3.6z"/> </svg>');
}

.article-timereading::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" > <polygon style="fill:%23282828" points="6.6,3 5.4,3 5.4,6.6 9,6.6 9,5.4 6.6,5.4 "/> <path style="fill:%23282828" d="M6,0C2.7,0,0,2.7,0,6s2.7,6,6,6c3.3,0,6-2.7,6-6C12,2.7,9.3,0,6,0z M6,10.8c-2.7,0-4.8-2.1-4.8-4.8 S3.3,1.2,6,1.2c2.6,0,4.8,2.2,4.8,4.8C10.8,8.7,8.7,10.8,6,10.8z"/> </svg>');
}

.article-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-right: auto;
}

.article-tags-item {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
	padding: 10px 14px;
	border-radius: 7px;
}

.article-image {
	width: 100%;
	height: 100%;
	min-height: 320px;
	border-radius: 20px;
	object-fit: cover;
}

.article-filter {
	width: 30%;
	min-width: 200px;
}

.article-filter-search {
	margin: 0;
}

.article-filter-tags {
	margin-bottom: 32px;
}

.article-filter-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.form-groug-submit {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	position: absolute;
	right: 18px;
	top: 50%;
	transform: translateY(-50%);
}

@media (hover: hover) {
	.form-groug-submit:is(:hover) {
		color: #61B87C;
	}
}

.input_invalid:focus ~ .form-groug-submit,
.form-groug-submit:is(:focus-visible, :active) {
	color: #61B87C;
}

.input_invalid.default_at_pageload ~ .form-groug-submit {
	color: #000;
}

.input_invalid ~ .form-groug-submit {
	color: #EB6437;
}

@media (max-width: 991px) {
	.article {
		grid-template-columns: 1fr;
	}

	.article-filter {
		width: 50%;
	}

	.article-content {
		padding: 32px 32px 0 32px;
	}
}

@media (max-width: 576px) {
	.article {
		font-size: 14px;
		border-radius: 16px;
		gap: 24px;
	}

	.article-header {
		margin-bottom: 24px;
	}

	.article + .article {
		margin-top: 24px;
	}

	.article-content {
		gap: 16px;
		padding: 20px 20px 0 20px;
	}

	.article-title h3 {
		font-size: 24px;
	}

	.article-elements {
		flex-direction: column;
		align-items: stretch;
		gap: 4px 16px;
	}

	.article-date::before,
	.article-timereading::before {
		width: 12px;
		height: 12px;
		margin-right: 4px;
	}

	.article-timereading {
		margin-left: 0;
	}

	.article-image {
		border-radius: 16px;
	}

	.article-filter-tags {
		margin-bottom: 24px;
	}

	.form-groug-submit {
		width: 20px;
		height: 20px;
	}
}