.sc-banner .head-info p span {
	font-size: 32px;
	line-height: 32px;
}

.sc-banner .head-info h1 {
	max-width: 330px;
	line-height: 58px;
}

.sc-banner .head-info h4 {
	font-size: 20px;
}

.sc-services {
	padding-top: 30px;
}

.sc-draft-agree .agree-box {
	max-width: none;
}

.sc-special {
	background-color: #FCBED4;
}

.h4-lp {
	max-width: none!important;
}

.disc-desc {
	font-size: 20px!important;
	color: #6d6e71!important;
	font-style: normal!important;
	padding-top: 20px;
	font-weight: 400!important;	
}

.disc-desc2 {
	font-size: 20px!important;
	color: #6d6e71!important;
	font-style: normal!important;
	padding-bottom: 20px;
	font-weight: 400!important;	
}


.disc-desc-green{
	font-size: 20px!important;
	margin-top: 0px!important;
	font-weight: 600!important;
	color: #5abe86!important;
	display: inline!important;
}

.disc-price1{
	font-size: 20px!important;
	margin-top: 0px!important;
	font-weight: 600!important;
	color: #6d6e71!important;
	display: inline!important;
}

.disc-price2{
	font-size: 24px!important;
	margin-top: 0px!important;
	font-weight: 600!important;
	color: #5abe86!important;
}

.disc-desc3 {
	font-size: 18px!important;
	font-weight: 400!important;
	padding-bottom: 20px;
}

@media (max-width: 991px) {

.city_anim-block {
	display: none;
}

.sc-banner .head-info {
	padding-top: 75px;
}

.sc-banner .head-info p span {
	width: 80%;
	margin-top: 5px;
}

.sc-banner .head-info h1 {
	font-size: 32px;
	margin-bottom: 0px;
}

.sc-banner .head-info h4 {
	font-size: 16px;
}

.title--box-2 {
	margin-top: 15px;
}


}