.sc-banner .head-info p span {
	font-size: 32px;
	line-height: 32px;
}

.sc-banner .head-info h1 {
	max-width: 330px;
	line-height: 58px;
}

.sc-banner .head-info h4 {
	font-size: 20px;
}

.sc-services {
	padding-top: 30px;
}

.sc-draft-agree .agree-box {
	max-width: none;
}

.sc-special {
	background-color: #FCBED4;
}

.h4-lp {
	max-width: none!important;
}


#contract-bid-main-form .form-check .custom-control{
  padding-left: 0;
  margin-bottom: 7px;
}
#contract-bid-main-form .form-check .custom-control input{
  position: absolute;
  opacity:0;
}
#contract-bid-main-form .form-check .custom-control label{
  margin-bottom:0;
  position: relative;
  padding-left: 40px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  cursor: pointer;
}
#contract-bid-main-form .form-check .custom-control label:after,
#contract-bid-main-form .form-check .custom-control label:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid #61B87C;
    position: absolute;
    top: -3px;
    left: 0;
    background-image: url(https://energuide.ru/static/images/icons/check.svg?86eedaf7ab36);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px auto;
    border-radius: 7px;
}
#contract-bid-main-form .form-check .custom-control label:after {
   background-color: #61B87C;
   opacity: 0;
}
#contract-bid-main-form .form-check .custom-control input:checked ~ label:after {
    opacity: 1;
}

#contract-bid-main-form .form-check-label:after, .form-check-label:before{
   top: -3px!important;
}

@media (max-width: 991px) {

.city_anim-block {
	display: none;
}

.sc-banner .head-info {
	padding-top: 75px;
}

.sc-banner .head-info p span {
	width: 80%;
	margin-top: 5px;
}

.sc-banner .head-info h1 {
	font-size: 32px;
	margin-bottom: 0px;
}

.sc-banner .head-info h4 {
	font-size: 16px;
}

.title--box-2 {
	margin-top: 15px;
}


}
