<div class="d-flex flex-column gap-20px">
  <button type="button" class="bs-btn bs-btn-base bs-btn-success"
    data-bs-toggle="modal"
    data-bs-target="#bid-request-popup-form-modal">
    <span class="text">
      @button
    </span>
  </button>

  <div class="d-flex flex-column align-items-center gap-8px text-center">
    <p class="fs-12px m-0px">
      или по телефону
    </p>

    <div class="d-flex flex-column font-monospace fs-20px fw-medium lh-sm">
      <a href="tel:+78002221200" class="bs-btn bs-btn-link fs-reset fw-reset">
        <span class="text">+7 (800) 222-12-00</span>
      </a>
      <p class="text-gray-500 m-0px">
        (доб. 7777)
      </p>
    </div>
  </div>
</div>
