<footer class="footer">
  <div class="container">
    <div class="footer-inner pt-32px pt-lg-64px px-lg-40px pb-80px">
      <div class="d-flex flex-column gap-48px">
        <div class="row gy-48px">
          <div class="col-lg-3 col-xl-4">
            <div class="d-flex flex-column gap-64px">
              <div class="navbar-brand">
                <a class="navbar-brand-link" href="#">
                  <img loading="lazy" src="./img/logo.svg" class="image" width="284" height="93" alt="Новая энергия">
                </a>
              </div>

              <div class="d-flex flex-column gap-48px gap-lg-56px"
                data-transfer-origin="footer-socials"
                data-transfer-breakpoint="991.98">
                <div class="d-flex flex-column gap-20px">
                  <h3 class="text-success">
                    Позвоните нам!
                  </h3>

                  <div class="d-flex flex-column gap-8px fs-14px">
                    <a href="tel:+78002221200" class="btn btn-link btn-link--regular">
                      <span>+7 (800) 222-12-00</span>
                    </a>

                    <p class="text-gray-500 m-0px">
                      пн-пт 9:00–17:00
                    </p>
                  </div>
                </div>
                <div class="d-flex flex-column gap-20px">
                  <h3>
                    Напишите нам
                  </h3>

                  <div class="d-flex flex-column gap-8px fs-14px">
                    <a href="mailto:zayavka@enerone.ru" class="btn btn-link btn-link--regular">
                      <span>zayavka@enerone.ru</span>
                    </a>

                    <p class="text-gray-500 m-0px">
                      пн-пт 9:00–17:00
                    </p>
                  </div>
                </div>
                <div class="d-flex flex-column gap-20px">
                  <h3>
                    Наши соцсети
                  </h3>

                  <div class="d-flex flex-wrap gap-12px gap-lg-20px">
                    <a href="#" class="btn btn-has-icon btn-icon btn-social">
                      <span class="icon">
                        <svg>
                          <use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
                        </svg>
                      </span>
                    </a>
                    <a href="#" class="btn btn-has-icon btn-icon btn-social">
                      <span class="icon">
                        <svg>
                          <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
                        </svg>
                      </span>
                    </a>
                    <a href="#" class="btn btn-has-icon btn-icon btn-social">
                      <span class="icon">
                        <svg>
                          <use xlink:href="img/icons/vk.svg#svg-vk"></use>
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-xl-8">
            <div class="row gy-48px gx-32px">
              <div class="col-6 col-lg-4">
                <div class="d-flex flex-column gap-64px">
                  <div class="d-flex flex-column gap-14px">
                    <h3>
                      Клиентам
                    </h3>
                    <nav class="navbar-nav navbar-nav--footer">
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Клиентам
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Личный кабинет
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        ИП и малый бизнес
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Средний и крупный бизнес
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Работа на розничном рынке
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Работа на оптовом рынке
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Технологическое присоединение
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Снижение затрат на электроэнергию
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Раскрытие информации
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Новости и статьи
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Кейсы
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Вопрос-ответ
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Команда
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Реквизиты
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Контакты
                      </a>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-4">
                <div class="d-flex flex-column gap-64px">
                  <div class="d-flex flex-column gap-14px">
                    <h3>
                      Инструменты
                    </h3>
                    <nav class="navbar-nav navbar-nav--footer">
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Аналитика по сбытовым надбавкам и котловым тарифам
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Калькулятор расчета ценовых категорий
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Калькулятор экономии от выхода на оптовый рынок электроэнергии
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Шаблоны документов
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Заявка на заключение договора энергоснабжения
                      </a>
                    </nav>
                  </div>

                  <div class="d-flex flex-column gap-14px">
                    <h3>
                      Наши услуги
                    </h3>
                    <nav class="navbar-nav navbar-nav--footer">
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Энергоснабжение под ключ
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Индивидуальная фиксированная цена
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Энергоснабжение
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Энергоснабжение с оптового рынка
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Зеленая электроэнергия
                      </a>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-4">
                <div class="d-flex flex-column gap-64px">
                  <div class="d-flex flex-column gap-14px">
                    <h3>
                      Консультации
                    </h3>
                    <nav class="navbar-nav navbar-nav--footer">
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Получение технологического присоединения
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Увеличение мощности
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Заключение договора энергоснабжения
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Работа на оптовом рынке
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Снижение затрат на электроэнергию
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Решение проблем в энергоснабжении
                      </a>
                      <a class="btn btn-link btn-link--regular nav-link" href="#">
                        Ценообразование и тарифы
                      </a>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-4 d-lg-none">
                <div class="d-flex flex-column gap-64px"
                  data-transfer-target="footer-socials"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column-reverse flex-lg-row align-items-lg-center justify-content-lg-between gap-48px">
          <div class="d-flex flex-column gap-8px fs-14px">
            <p class="text-gray-500">
              ⓒ 2025. Новая Энергия. Все права защищены
            </p>

            <button type="button" class="btn btn-link">
              <span>Политика обработки персональных данных</span>
            </button>
          </div>

          <div class="d-flex align-items-center justify-content-between gap-20px gap-lg-40px">
            <picture>
              <source srcset="./img/payments/image-1.webp" type="image/webp">
              <img loading="lazy" src="./img/payments/image-1.png" class="img-fluid" width="90" height="81" alt="Картинка">
            </picture>
            <picture>
              <source srcset="./img/payments/image-2.webp" type="image/webp">
              <img loading="lazy" src="./img/payments/image-2.png" class="img-fluid" width="90" height="82" alt="Картинка">
            </picture>
            <picture>
              <source srcset="./img/payments/image-3.webp" type="image/webp">
              <img loading="lazy" src="./img/payments/image-3.png" class="img-fluid" width="76" height="82" alt="Картинка">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
