<footer class="bs-footer">
  <div class="bs-container">
    <div class="bs-footer-inner pt-32px pt-lg-64px px-lg-40px pb-80px">
      <div class="d-flex flex-column gap-48px">
        <div class="bs-row gy-48px">
          <div class="bs-col-lg-3 bs-col-xl-4">
            <div class="d-flex flex-column gap-64px">
              <div class="bs-navbar-brand">
                <a class="bs-navbar-brand-link" href="#">
                  <img loading="lazy" src="./img/logo.svg" class="image" width="284" height="93" alt="Новая энергия">
                </a>
              </div>

              <div class="d-flex flex-column gap-48px gap-lg-56px"
                data-transfer-origin="footer-socials"
                data-transfer-breakpoint="991.98">
                <div class="d-flex flex-column gap-20px">
                  <h3 class="bs-h3 text-success">
                    Позвоните нам!
                  </h3>

                  <div class="d-flex flex-column gap-8px fs-14px">
                    <a href="tel:+78002221200" class="bs-btn bs-btn-link bs-btn-link--regular">
                      <span class="text">+7 (800) 222-12-00</span>
                    </a>

                    <p class="text-gray-500 m-0px">
                      пн-пт 9:00–17:00
                    </p>
                  </div>
                </div>
                <div class="d-flex flex-column gap-20px">
                  <h3 class="bs-h3">
                    Напишите нам
                  </h3>

                  <div class="d-flex flex-column gap-8px fs-14px">
                    <a href="mailto:zayavka@enerone.ru" class="bs-btn bs-btn-link bs-btn-link--regular">
                      <span class="text">zayavka@enerone.ru</span>
                    </a>

                    <p class="text-gray-500 m-0px">
                      пн-пт 9:00–17:00
                    </p>
                  </div>
                </div>
                <div class="d-flex flex-column gap-20px">
                  <h3 class="bs-h3">
                    Наши соцсети
                  </h3>

                  <div class="d-flex flex-wrap gap-12px gap-lg-20px">
                    <a href="#" class="bs-btn bs-btn-has-icon bs-btn-icon bs-btn-social">
                      <span class="icon">
                        <svg>
                          <use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
                        </svg>
                      </span>
                    </a>
                    <a href="#" class="bs-btn bs-btn-has-icon bs-btn-icon bs-btn-social">
                      <span class="icon">
                        <svg>
                          <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
                        </svg>
                      </span>
                    </a>
                    <a href="#" class="bs-btn bs-btn-has-icon bs-btn-icon bs-btn-social">
                      <span class="icon">
                        <svg>
                          <use xlink:href="img/icons/vk.svg#svg-vk"></use>
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bs-col-lg-9 bs-col-xl-8">
            <div class="bs-row gy-48px gx-32px">
              <div class="bs-col-6 bs-col-lg-4">
                <div class="d-flex flex-column gap-64px">
                  <div class="d-flex flex-column gap-14px">
                    <h3 class="bs-h3">
                      Клиентам
                    </h3>
                    <nav class="bs-navbar-nav bs-navbar-nav--footer">
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Клиентам
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Личный кабинет
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          ИП и малый бизнес
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Средний и крупный бизнес
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Работа на розничном рынке
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Работа на оптовом рынке
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Технологическое присоединение
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Снижение затрат на электроэнергию
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Раскрытие информации
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Новости и статьи
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Кейсы
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Вопрос-ответ
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Команда
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Реквизиты
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Контакты
                        </span>
                      </a>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="bs-col-6 bs-col-lg-4">
                <div class="d-flex flex-column gap-64px">
                  <div class="d-flex flex-column gap-14px">
                    <h3 class="bs-h3">
                      Инструменты
                    </h3>
                    <nav class="bs-navbar-nav bs-navbar-nav--footer">
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Аналитика по сбытовым надбавкам и котловым тарифам
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Калькулятор расчета ценовых категорий
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Калькулятор экономии от выхода на оптовый рынок электроэнергии
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Шаблоны документов
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Заявка на заключение договора энергоснабжения
                        </span>
                      </a>
                    </nav>
                  </div>

                  <div class="d-flex flex-column gap-14px">
                    <h3 class="bs-h3">
                      Наши услуги
                    </h3>
                    <nav class="bs-navbar-nav bs-navbar-nav--footer">
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Энергоснабжение под ключ
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Индивидуальная фиксированная цена
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Энергоснабжение
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Энергоснабжение с оптового рынка
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Зеленая электроэнергия
                        </span>
                      </a>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="bs-col-6 bs-col-lg-4">
                <div class="d-flex flex-column gap-64px">
                  <div class="d-flex flex-column gap-14px">
                    <h3 class="bs-h3">
                      Консультации
                    </h3>
                    <nav class="bs-navbar-nav bs-navbar-nav--footer">
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Получение технологического присоединения
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Увеличение мощности
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Заключение договора энергоснабжения
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Работа на оптовом рынке
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Снижение затрат на электроэнергию
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Решение проблем в энергоснабжении
                        </span>
                      </a>
                      <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                        <span class="text">
                          Ценообразование и тарифы
                        </span>
                      </a>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="bs-col-6 bs-col-lg-4 d-lg-none">
                <div class="d-flex flex-column gap-64px"
                  data-transfer-target="footer-socials"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column-reverse flex-lg-row align-items-lg-center justify-content-lg-between gap-48px">
          <div class="d-flex flex-column gap-8px fs-14px">
            <p class="text-gray-500 m-0px">
              ⓒ 2025. Новая Энергия. Все права защищены
            </p>

            <button type="button" class="bs-btn bs-btn-link">
              <span class="text">
                Политика обработки персональных данных
              </span>
            </button>
          </div>

          <div class="d-flex align-items-center justify-content-between gap-20px gap-lg-40px">
            <picture>
              <source srcset="./img/payments/image-1.webp" type="image/webp">
              <img loading="lazy" src="./img/payments/image-1.png" class="img-fluid" width="90" height="81" alt="Картинка">
            </picture>
            <picture>
              <source srcset="./img/payments/image-2.webp" type="image/webp">
              <img loading="lazy" src="./img/payments/image-2.png" class="img-fluid" width="90" height="82" alt="Картинка">
            </picture>
            <picture>
              <source srcset="./img/payments/image-3.webp" type="image/webp">
              <img loading="lazy" src="./img/payments/image-3.png" class="img-fluid" width="76" height="82" alt="Картинка">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
