<div class="modal bs-modal fade" id="callme-modal" tabindex="-1" aria-labelledby="callme-modal-label"
  aria-hidden="true">
  <div class="modal-dialog bs-modal-dialog bs-modal-dialog-centered">
    <form class="bs-modal-content">
      <div class="bs-modal-header">
        <h3 class="bs-h3 bs-modal-title" id="callme-modal-label">
          Заказ обратного звонка
        </h3>
        <button type="button" class="bs-btn bs-btn-close bs-btn-has-icon" data-bs-dismiss="modal" aria-label="Close">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/close.svg#svg-close"></use>
            </svg>
          </span>
        </button>
      </div>
      <div class="modal-body bs-modal-body">
        <div class="d-flex flex-column gap-24px">
          <div class="d-flex flex-column gap-20px">
            <div class="d-flex flex-column position-relative">
              <label class="bs-form-label">Введите ваше имя:</label>
              <div class="position-relative">
                <input type="text" class="bs-form-control" name="name" placeholder="Ваше имя*" aria-label="Ваше имя"
                  required>
              </div>
              <div class="invalid-feedback">
                Ошибка
              </div>
            </div>
            <div class="d-flex flex-column position-relative">
              <label class="bs-form-label">Введите ваш телефон:</label>
              <div class="position-relative">
                <input type="tel" class="bs-form-control" name="phone" placeholder="+7 (999) 999-99-99"
                  aria-label="Ваше телефон" required>
              </div>
              <div class="invalid-feedback">
                Ошибка
              </div>
            </div>
          </div>

          <div class="bs-form-check">
            <input type="checkbox" class="bs-form-check-input" id="callme-modal-agree"
              name="callme-modal-agree" checked>
            <label class="bs-form-check-label" for="callme-modal-agree">Даю <a href="#"
                class="bs-btn bs-btn-inline bs-btn-link"><span class="text">согласие</span></a> на обработку
              персональных данных в соответствии с <a href="#" class="bs-btn bs-btn-inline bs-btn-link"><span
                  class="text">политикой</span></a></label>
          </div>
        </div>
      </div>
      <div class="bs-modal-footer">
        <button type="button" class="bs-btn bs-btn-base bs-btn-success">
          <span class="text">Отправить</span>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="modal bs-modal fade" id="bid-request-popup-form-modal" tabindex="-1" aria-labelledby="bid-request-popup-form-modal-label"
  aria-hidden="true">
  <div class="modal-dialog bs-modal-dialog bs-modal-dialog-centered">
    <form class="bs-modal-content">
      <div class="bs-modal-header">
        <h3 class="bs-h3 bs-modal-title" id="bid-request-popup-form-modal-label">
          Заявка на подключение
        </h3>
        <button type="button" class="bs-btn bs-btn-close bs-btn-has-icon" data-bs-dismiss="modal" aria-label="Close">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/close.svg#svg-close"></use>
            </svg>
          </span>
        </button>
      </div>
      <div class="modal-body bs-modal-body">
        <div class="d-flex flex-column gap-24px">
          <div class="d-flex flex-column gap-20px">
            <div class="d-flex flex-column position-relative">
              <label class="bs-form-label">Введите ваше имя:</label>
              <div class="position-relative">
                <input type="text" class="bs-form-control" name="name" placeholder="Ваше имя*" aria-label="Ваше имя"
                  required>
              </div>
              <div class="invalid-feedback">
                Ошибка
              </div>
            </div>
            <div class="d-flex flex-column position-relative">
              <label class="bs-form-label">Введите ваш телефон:</label>
              <div class="position-relative">
                <input type="tel" class="bs-form-control" name="phone" placeholder="+7 (999) 999-99-99"
                  aria-label="Ваше телефон" required>
              </div>
              <div class="invalid-feedback">
                Ошибка
              </div>
            </div>
            <div class="d-flex flex-column position-relative">
              <label class="bs-form-label">Выберите ваш регион:</label>
              <div class="position-relative">
                <select name="region" data-choices="once" data-placeholder="Не выбрано">
                  <option value="1">Челябинская область</option>
                  <option value="10">Курганская область</option>
                  <option value="11">Воронежская область</option>
                  <option value="12">Омская область</option>
                  <option value="13">Волгоградская область</option>
                </select>
              </div>
              <div class="invalid-feedback">
                Ошибка
              </div>
            </div>
            <div class="d-flex flex-column position-relative">
              <label class="bs-form-label text-gray-500">Если Вашего региона нет среди вариантов выше:</label>
              <div class="position-relative">
                <input type="text" class="bs-form-control" name="other-region" placeholder="Другой регион"
                  aria-label="Другой регион">
              </div>
              <div class="invalid-feedback">
                Ошибка
              </div>
            </div>
          </div>

          <div class="d-flex flex-column gap-20px">
            <div class="position-relative">
              <label class="bs-form-label">Я являюсь</label>
              <div class="bs-row g-12px">
                <div class="bs-col-6">
                  <div class="bs-form-check">
                    <input type="radio" class="bs-form-check-input" id="bid-request-popup-form-modal-radio-0"
                      name="bid-request-popup-form-modal-radio" checked>
                    <label class="bs-form-check-label" for="bid-request-popup-form-modal-radio-0">ИП/юр.лицо</label>
                  </div>
                </div>
                <div class="bs-col-6">
                  <div class="bs-form-check">
                    <input type="radio" class="bs-form-check-input" id="bid-request-popup-form-modal-radio-1"
                      name="bid-request-popup-form-modal-radio" data-bs-toggle="collapse-checked"
                      data-bs-target="#bid-request-popup-form-modal-collapse-1">
                    <label class="bs-form-check-label" for="bid-request-popup-form-modal-radio-1">физ.лицо</label>
                  </div>
                </div>
              </div>
              <div class="invalid-feedback">
                Ошибка
              </div>
            </div>

            <div class="collapse" id="bid-request-popup-form-modal-collapse-1">
              <p class="fs-12px fw-medium lh-normal text-primary m-0px">
                К сожалению, мы не можем принять вашу заявку, так как работаем только с юридическими лицами и
                индивидуальными предпринимателями. Если ваш вопрос касается энергоснабжения как физического лица,
                рекомендуем обратиться к вашему поставщику.
              </p>
            </div>
          </div>

          <div class="d-flex flex-column gap-20px">
            <div class="d-flex flex-column position-relative">
              <label class="bs-form-label">Введите ИНН:</label>
              <div class="position-relative">
                <input type="text" class="bs-form-control" name="inn" placeholder="ИНН*" aria-label="ИНН" required>
              </div>
              <div class="invalid-feedback">
                Ошибка
              </div>
            </div>
          </div>

          <div class="bs-form-check">
            <input type="checkbox" class="bs-form-check-input" id="bid-request-popup-form-modal-agree" name="bid-request-popup-form-modal-agree"
              checked>
            <label class="bs-form-check-label" for="bid-request-popup-form-modal-agree">Даю <a href="#"
                class="bs-btn bs-btn-inline bs-btn-link"><span class="text">согласие</span></a> на обработку
              персональных данных в соответствии с <a href="#" class="bs-btn bs-btn-inline bs-btn-link"><span
                  class="text">политикой</span></a></label>
          </div>
        </div>
      </div>
      <div class="bs-modal-footer">
        <button type="submit" class="bs-btn bs-btn-base bs-btn-success">
          <span class="text">Отправить</span>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="modal bs-modal fade" id="modal-feedback-success" tabindex="-1"
  aria-labelledby="modal-feedback-success-label" aria-hidden="true">
  <div class="modal-dialog bs-modal-dialog bs-modal-dialog-centered">
    <div class="bs-modal-content">
      <div class="bs-modal-header">
        <h3 class="bs-h3 bs-modal-title" id="modal-feedback-success-label">
          Спасибо за заявку!
        </h3>
        <button type="button" class="bs-btn bs-btn-close bs-btn-has-icon" data-bs-dismiss="modal" aria-label="Close">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/close.svg#svg-close"></use>
            </svg>
          </span>
        </button>
      </div>
      <div class="modal-body bs-modal-body">
        <div class="f-14px text-center">
          <p>
            С вами скоро свяжутся
          </p>
        </div>
      </div>
      <div class="bs-modal-footer">
        <button type="button" class="bs-btn bs-btn-base bs-btn-success" data-bs-dismiss="modal">
          <span class="text">Закрыть</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal bs-modal fade" id="modal-feedback-error" tabindex="-1" aria-labelledby="modal-feedback-error-label"
  aria-hidden="true">
  <div class="modal-dialog bs-modal-dialog bs-modal-dialog-centered">
    <div class="bs-modal-content">
      <div class="bs-modal-header">
        <h3 class="bs-h3 bs-modal-title" id="modal-feedback-error-label">
          Упс!
        </h3>
        <button type="button" class="bs-btn bs-btn-close bs-btn-has-icon" data-bs-dismiss="modal" aria-label="Close">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/close.svg#svg-close"></use>
            </svg>
          </span>
        </button>
      </div>
      <div class="modal-body bs-modal-body">
        <div class="f-14px text-center">
          <p>
            Произошла какая-то ошибка. Попробуй позже
          </p>
        </div>
      </div>
      <div class="bs-modal-footer">
        <button type="button" class="bs-btn bs-btn-base bs-btn-success" data-bs-dismiss="modal">
          <span class="text">Закрыть</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal bs-modal fade" id="modal-tariff" tabindex="-1" aria-labelledby="modal-tariff-label"
  aria-hidden="true">
  <div class="modal-dialog bs-modal-dialog bs-modal-dialog-centered">
    <div class="bs-modal-content">
      <div class="bs-modal-header">
        <h3 class="bs-h3 bs-modal-title" id="modal-tariff-label">
          Ваш тариф на электроэнергию
        </h3>
        <button type="button" class="bs-btn bs-btn-close bs-btn-has-icon" data-bs-dismiss="modal" aria-label="Close">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/close.svg#svg-close"></use>
            </svg>
          </span>
        </button>
      </div>
      <div class="modal-body bs-modal-body">
        <div class="d-flex flex-column gap-32px">
          <div class="fs-14px fw-medium">
            <ul class="list-group list-group--plaintext bs-list-group bs-list-group--plaintext">
              <li class="list-group-item bs-list-group-item">
                Регион: <span class="text-success" data-result="region"></span>
              </li>
              <li class="list-group-item bs-list-group-item">
                Уровень тарифного напряжения: <span class="text-success" data-result="voltage_level"></span>
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-center text-center">
            <div class="bs-h3">
              Стоимость: <span data-result="price"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="bs-modal-footer">
        <button type="button" class="bs-btn bs-btn-base bs-btn-success" data-bs-toggle="modal"
          data-bs-target="#bid-request-popup-form-modal">
          <span class="text">Подать заявку</span>
        </button>
      </div>
    </div>
  </div>
</div>
