<div class="modal fade"
  id="modal-callback"
  tabindex="-1"
  aria-labelledby="modal-callback-label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-callback-label">
          Заявка на подключение
        </h3>
        <button type="button" class="btn btn-close btn-has-icon" data-bs-dismiss="modal" aria-label="Close">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/close.svg#svg-close"></use>
            </svg>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column gap-24px">
          <div class="d-flex flex-column gap-20px">
            <div class="position-relative">
              <label class="form-label">Введите ваше имя:</label>
              <input type="text" class="form-control" name="name" placeholder="Ваше имя*" aria-label="Ваше имя" required>
              <div class="invalid-feedback">
                Ошибка
              </div>
            </div>
            <div class="position-relative">
              <label class="form-label">Введите ваш телефон:</label>
              <input type="tel" class="form-control" name="phone" placeholder="+7 (999) 999-99-99" aria-label="Ваше телефон" required>
              <div class="invalid-feedback">
                Ошибка
              </div>
            </div>
            <div class="position-relative">
              <label class="form-label">Выберите ваш регион:</label>
              <select name="region"
                data-choices="once"
                data-placeholder="Выберите регион">
                <option value="0">Кировская область</option>
                <option value="1">Регион</option>
                <option value="2">Регион</option>
                <option value="3">Регион</option>
              </select>
              <div class="invalid-feedback">
                Ошибка
              </div>
            </div>
            <div class="position-relative">
              <label class="form-label text-gray-500">Если Вашего региона нет среди вариантов выше:</label>
              <input type="text" class="form-control" name="other-region" placeholder="Другой регион" aria-label="Другой регион">
              <div class="invalid-feedback">
                Ошибка
              </div>
            </div>
          </div>

          <div class="d-flex flex-column gap-20px">
            <div class="position-relative">
              <label class="form-label">Я являюсь</label>
              <div class="row g-12px">
                <div class="col-6">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="modal-callback-radio-0" name="modal-callback-radio" checked>
                    <label class="form-check-label" for="modal-callback-radio-0">ИП/юр.лицо</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="modal-callback-radio-1" name="modal-callback-radio"
                      data-bs-toggle="collapse-checked"
                      data-bs-target="#modal-callback-collapse-1">
                    <label class="form-check-label" for="modal-callback-radio-1">физ.лицо</label>
                  </div>
                </div>
              </div>
              <div class="invalid-feedback">
                Ошибка
              </div>
            </div>

            <div class="collapse" id="modal-callback-collapse-1">
              <p class="fs-12px fw-medium lh-normal text-success">
                К сожалению, мы не можем принять вашу заявку, так как работаем только с юридическими лицами и индивидуальными предпринимателями. Если ваш вопрос касается энергоснабжения как физического лица, рекомендуем обратиться к вашему поставщику.
              </p>
            </div>
          </div>

          <div class="d-flex flex-column gap-20px">
            <div class="position-relative">
              <label class="form-label">Введите ИНН:</label>
              <input type="text" class="form-control" name="inn" placeholder="ИНН*" aria-label="ИНН" required>
              <div class="invalid-feedback">
                Ошибка
              </div>
            </div>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="modal-callback-agree" name="modal-callback-agree" checked>
            <label class="form-check-label" for="modal-callback-agree">Даю <a href="#" class="btn btn-inline btn-link">согласие</a> на обработку персональных данных в соответствии с <a href="#" class="btn btn-inline btn-link">политикой</a></label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-base btn-success">
          <span>Отправить</span>
        </button>
      </div>
    </form>
  </div>
</div>
