<div class="offcanvas bs-offcanvas bs-offcanvas-start bs-offcanvas--menu" tabindex="-1"
  id="offcanvas-menu"
  data-bs-backdrop="false"
  aria-labelledby="offcanvas-menu-label">
  <div class="bs-offcanvas-body">
    <div data-swiper="menu">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="widget py-20px px-32px">
              <nav class="bs-navbar-nav">
                <button type="button" class="bs-btn bs-btn-has-icon bs-btn-link bs-btn-link--regular bs-nav-link swiper-slide-button"
                  data-slide-target="services">
                  <span class="text">
                    Наши услуги
                  </span>
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/next.svg#svg-next"></use>
                    </svg>
                  </span>
                </button>
                <button type="button" class="bs-btn bs-btn-has-icon bs-btn-link bs-btn-link--regular bs-nav-link swiper-slide-button"
                  data-slide-target="useful">
                  <span class="text">
                    Полезное
                  </span>
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/next.svg#svg-next"></use>
                    </svg>
                  </span>
                </button>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Инструменты
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    О компании
                  </span>
                </a>
                <button type="button" class="bs-btn bs-btn-has-icon bs-btn-link bs-btn-link--regular bs-nav-link swiper-slide-button"
                  data-slide-target="consultations">
                  <span class="text">
                    Консультации
                  </span>
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/next.svg#svg-next"></use>
                    </svg>
                  </span>
                </button>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Новости
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Вопрос-ответ
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Кейсы
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Контакты
                  </span>
                </a>
              </nav>
            </div>
          </div>
          <div class="swiper-slide"
            data-slide-submenu="services">
            <div class="widget py-20px px-32px">
              <nav class="bs-navbar-nav">
                <button type="button" class="bs-btn bs-btn-has-icon bs-btn-link bs-btn-link--regular bs-nav-link swiper-slide-back"
                  data-slide-target="back">
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/prev.svg#svg-prev"></use>
                    </svg>
                  </span>
                  <span class="text">
                    Наши услуги
                  </span>
                </button>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Энергоснабжение под ключ
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Индивидуальная фиксированная цена
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Энергоснабжение с оптового рынка
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Зеленая электроэнергия
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Умное потребление
                  </span>
                </a>
              </nav>
            </div>
          </div>
          <div class="swiper-slide"
            data-slide-submenu="useful">
            <div class="widget py-20px px-32px">
              <nav class="bs-navbar-nav">
                <button type="button" class="bs-btn bs-btn-has-icon bs-btn-link bs-btn-link--regular bs-nav-link swiper-slide-back"
                  data-slide-target="back">
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/prev.svg#svg-prev"></use>
                    </svg>
                  </span>
                  <span class="text">
                    Полезное
                  </span>
                </button>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Работа на розничном рынке
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Работа на оптовом рынке
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Энергоснабжение с оптового рынка
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Технологическое присоединение
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Снижение затрат на электроэнергию
                  </span>
                </a>
              </nav>
            </div>
          </div>
          <div class="swiper-slide"
            data-slide-submenu="consultations">
            <div class="widget py-20px px-32px">
              <nav class="bs-navbar-nav">
                <button type="button" class="bs-btn bs-btn-has-icon bs-btn-link bs-btn-link--regular bs-nav-link swiper-slide-back"
                  data-slide-target="back">
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/prev.svg#svg-prev"></use>
                    </svg>
                  </span>
                  <span class="text">
                    Консультации
                  </span>
                </button>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Получение технологического присоединения
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Увеличение мощности
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Заключение договора энергоснабжения
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Работа на оптовом рынке
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Решение проблем в энергоснабжении
                  </span>
                </a>
                <a class="bs-btn bs-btn-link bs-btn-link--regular bs-nav-link" href="#">
                  <span class="text">
                    Ценообразование и тарифы
                  </span>
                </a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column gap-20px mt-auto pt-32px">
      <div class="d-flex flex-column align-items-center gap-16px">
        <a href="tel:+78002221200" class="bs-btn bs-btn-link bs-btn-link--regular">
          <span class="text">
            +7 (800) 222-12-00
          </span>
        </a>
        <button type="button" class="bs-btn bs-btn-link">
          <span class="text">
            Заказать звонок
          </span>
        </button>
      </div>

      <a href="mailto:zayavka@enerone.ru" class="bs-btn bs-btn-base bs-btn-border-gradient bs-btn-outline-primary">
        <span class="text">
          zayavka@enerone.ru
        </span>
      </a>
    </div>
  </div>
</div>

<div class="offcanvas bs-offcanvas bs-offcanvas-start bs-offcanvas--menu" tabindex="-1"
  id="offcanvas-user"
  data-bs-backdrop="false"
  aria-labelledby="offcanvas-user-label">
  <div class="bs-offcanvas-body">
    <div class="d-flex flex-column gap-48px">
      <div class="d-flex gap-20px">
        <div class="w-64px h-64px flex-shrink-0 bs-bg-white rounded-8px">
          <picture>
            <source srcset="./img/users/default.webp" type="image/webp">
            <img loading="lazy" src="./img/users/default.png" class="w-100 h-100 d-block object-fit-cover" width="60" height="60" alt="Картинка">
          </picture>
        </div>
        <div class="d-flex flex-column justify-content-between gap-12px">
          <h3 class="bs-h3">
            Лужецкий Д.А.
          </h3>
          <div class="d-flex flex-wrap gap-12px">
            <a href="./index.html" class="bs-btn bs-btn-link">
              <span class="text">
                Выйти
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column gap-16px">
        <a href="#" class="bs-btn bs-btn bs-btn-base bs-btn-border-gradient bs-btn-outline-primary">
          <span class="text">
            Договоры
          </span>
        </a>
        <a href="#" class="bs-btn bs-btn bs-btn-base bs-btn-border-gradient bs-btn-outline-primary">
          <span class="text">
            Счета
          </span>
        </a>
        <a href="#" class="bs-btn bs-btn bs-btn-base bs-btn-border-gradient bs-btn-outline-primary">
          <span class="text">
            Взаиморасчеты
          </span>
        </a>
        <a href="#" class="bs-btn bs-btn bs-btn-base bs-btn-border-gradient bs-btn-outline-primary">
          <span class="text">
            Сообщения
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
