<div class="cases-item d-flex flex-column rounded-8px">
  <a href="#" class="stretched-link position-absolute inset-0 z-2"></a>

  <div class="ratio ratio-16x9 position-relative z-1">
    <picture>
      <source srcset="./img/news/@img.webp" type="image/webp">
      <img loading="lazy" src="./img/news/@img.jpg" class="d-block w-100 h-100 object-fit-cover" width="410" height="212" alt="Картинка">
    </picture>
  </div>

  <div class="py-32px px-20px px-lg-32px pb-lg-48px">
    <dl class="bs-row g-16px fs-14px lh-sm">
      <dt class="bs-col-6 fs-reset fw-reset text-gray-500 mb-0px">
        Отрасль:
      </dt>
      <dd class="bs-col-6 fs-reset fw-reset mb-0px">
        пищевая промышленность
      </dd>
      <dt class="bs-col-6 fs-reset fw-reset text-gray-500 mb-0px">
        Регион:
      </dt>
      <dd class="bs-col-6 fs-reset fw-reset mb-0px">
        г. Псков
      </dd>
      <dt class="bs-col-6 fs-reset fw-reset text-gray-500 mb-0px">
        Объем потребления:
      </dt>
      <dd class="bs-col-6 fs-reset fw-reset mb-0px">
        7 000 000 кВт·ч/год
      </dd>
      <dt class="bs-col-6 fs-reset fw-reset text-gray-500 mb-0px">
        Экономия за период:
      </dt>
      <dd class="bs-col-6 fs-reset fw-reset mb-0px">
        2 159 000 руб. без НДС
      </dd>
    </dl>
  </div>
</div>
